@page "/Retailers/Create"

@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SimpleDataManagementSystem.Frontend.Web.Razor.ViewModels.Read

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Retailers.CreateRetailerModel

@{
    ViewData["Title"] = "Create Retailer";
}

<h1>Create Retailer</h1>

<br />


@await Component.InvokeAsync("InvalidModelState", ModelState)


<div style="border:1px solid black; margin:auto;width:70%; text-align:center;padding:20px;">
    <form method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <br />
        <input name="name" />

        <br />

        <label for="priority">Priority:</label>
        <br />
        <input name="priority" />

        <br />

        <label for="logoImage">Logo:</label>
        <br />

        <div style="display: none;">
            <img id="thumbnail" style="width:300px; height:300px; max-width:300px; max-height:300px;" />
            <br />
        </div>

        <br />

        <input type="file" name="logoImage" onchange="loadThumbnail(event)" />

        <br />
        <br />

        <button type="submit">Create</button>
    </form>
</div>


@* TODO move to .JS *@
@section scripts {
    <script>
        var loadThumbnail = function (event) {
            var output = document.getElementById('thumbnail');

            output.parentElement.style.display = '';

            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
}