<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple Data Management System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleDataManagementSystem.Frontend.Web.Razor.styles.css" asp-append-version="true" />
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/bundle.min.js"></script>
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column;">
    <partial name="_Menu" model="null" />
    
    <div class="container">
        @* @if (ViewData["Error"] != null)
        {
            <p style="color:red;">Not empty</p>
        }
        else
        {
            <p style="color:green;">Empty</p>
        }

        @if (Context.Items["Error"] != null)
        {
            <p style="color:red;">Not empty 2</p>
            <p style="color:red;">@Context.Items["Error"]</p>
            <p style="color:red;">@ViewData["Error"]</p>
        }
        else
        {
            <p style="color:green;">Empty 2</p>
        } *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* #region - snackbar *@
    <div id="snackbar">
        <em>
            Placeholder
        </em>
    </div>
    @* #endregion - snackbar *@

    <footer style="margin-top: auto;" class="border-top">
        <div class="container">
            <div class="row" style="padding:20px;">
                <div class="col" style="text-align:center;">
                    <div style="display: flex; justify-content: center; align-items: center; height:100%;">
                        &copy; 2024 - Simple Data Management System
                    </div>
                </div>
                <div class="col" style="text-align:center;">
                    <b>
                        Attributions:
                    </b>
                    <br />
                    <a href="https://www.flaticon.com/free-icons/performance" title="performance icons">Performance icons created by Design Circle - Flaticon</a>
                    <br />
                    <a href="https://www.flaticon.com/free-icons/image-placeholder" title="image placeholder icons">Image placeholder icons created by HideMaru - Flaticon</a>
                    <br />
                    <a href="https://www.pexels.com" title="pexels official website">Pexels.com</a>
                </div>
            </div>
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>