@page "/Error"
@* @page "/Error/PageError/{0}" *@

@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<div class="header">
    <h1>Error</h1>
</div>

<br />

@if (Model?.Error != null)
{
    <div style="
        padding:20px;
        font-size:20px; 
        display:flex; 
        flex-flow: wrap; 
        text-align:center; 
        justify-content:center; 
        color: white; 
        background-color: indianred;"
    >
        <div style="text-decoration:underline;">
            <h1>
                @(Model.Error?.Message ?? "Something went wrong while processing your request. Please try again.")
            </h1>
        </div>

        @if (Model.Error?.Errors != null)
        {
            <div style="flex-basis: 100%;">
                @foreach (var e in Model.Error.Errors)
                {
                    <div>
                        <span>&#8226;</span>
                        <label>@e</label>
                    </div>
                }
            </div>
        }
    </div>
}
