@page

@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<br />


@* @switch (Model.Error.StatusCode)
{
    case 400:
        <h3>400</h3>
        break;
    case 404:
        <h3>404</h3>
        break;
    default:
        <p>Hello, World...?</p>
        break;
} *@


<div style="text-align:center; color:red">
    <h3>
        <b>
            Status: 
        </b>
        @Model?.Error?.StatusCode
    </h3>
    <h3>
        <b>
            Error description: 
        </b>
        @Model?.Error?.Message
    </h3>
    
    @if (Model?.Error.Errors != null)
    {
        @foreach (var e in Model.Error.Errors)
        {
            <br />

            <label>
                @e
            </label>
        }
    }
</div>
