@page

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ForbiddenModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ForbiddenModel> loc

@{
    ViewData["Title"] = loc["Forbidden"];
}

<div class="header">
    <h1>@loc["Forbidden"]</h1>
</div>

<br />

<div style="display:flex; justify-content:center;">
    <h1>
        <b>
            @loc["You are not authorized to view this resource."]
        </b>
    </h1>
</div>