@page

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ForbiddenModel

@{
    ViewData["Title"] = "Forbidden";
}

<div class="header">
    <h1>Forbidden</h1>
</div>

<br />

<div style="display:flex; justify-content:center;">
    <h1>
        <b>
            You are not authorized to view this resource.
        </b>
    </h1>
</div>