@page

@model IndexModel

@{
    ViewData["Title"] = "Simple Data Management System";
}

<div style="display:flex; justify-content:center;">
    <h1>Welcome to Simple Data Management System.</h1>
</div>