@page

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> loc

@model IndexModel

@{
    ViewData["Title"] = "Simple Data Management System";
}

<div style="display:flex; justify-content:center; text-align:center;">
    <h1>@loc["Welcome to Simple Data Management System."]</h1>
</div>