@using SimpleDataManagementSystem.Frontend.Web.Razor.ViewModels.Read

@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@if (Model != null)
{
    <div style="display:flex; flex-flow: wrap; text-align:center; justify-content:center; color:red;">
        <div>
            <i>
                @Model.Message
            </i>
        </div>

        @if (Model?.Errors != null)
        {
            <div style="flex-basis: 100%; color:red;">
                @foreach (var e in Model.Errors)
                {
                    <div>
                        <span>&#8226;</span>
                        <label>@e</label>
                    </div>
                }
            </div>
        }
    </div>

    <br />
}