@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@using SimpleDataManagementSystem.Frontend.Web.Razor.ViewModels

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DisplayErrorViewComponent> loc

@model ErrorViewModel

@{
    ViewData["Title"] = loc["Error"];
}

@if (Model != null)
{
    <div style="display:flex; flex-flow: wrap; text-align:center; justify-content:center; color:red;">
        <div>
            <i>
                @loc[Model.Message]
            </i>
        </div>

        @if (Model?.Errors != null)
        {
            <div style="flex-basis: 100%; color:red;">
                @foreach (var e in Model.Errors)
                {
                    <div>
                        <span>&#8226;</span>
                        <label>@loc[e]</label>
                    </div>
                }
            </div>
        }
    </div>
}