@page "/Categories/Create"

@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Categories.CreateCategoryModel

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CreateCategoryModel> loc

@{
    ViewData["Title"] = loc["Create new category"];
}

<div class="header">
    <h1>@loc["Create new category"]</h1>
</div>


<br>


<div class="content-container">

    <!-- #region DisplayError -->
    @await Component.InvokeAsync(typeof(DisplayErrorViewComponent), Model?.Error)
    <!-- #endregion DisplayError -->

    <!-- #region ModelStateValidationErrors -->
    @await Component.InvokeAsync(typeof(InvalidModelStateViewComponent), ModelState)
    <!-- #endregion ModelStateValidationErrors -->

    <br>

    <form method="post">
        <div class="form-controls-container">
            <div class="form-controls">

                <div class="input-control single-per-line">
                    <div class="required">
                        <label>@loc["Name"]</label>
                    </div>
                    <div>
                        <input name="name" type="text" value="@Model?.Model?.Name" />
                    </div>
                </div>

                <br>

                <div class="input-control single-per-line">
                    <div class="required">
                        <label>@loc["Priority"]</label>
                    </div>
                    <div>
                        <input name="priority" type="number" value="@Model?.Model?.Priority" />
                    </div>
                </div>

            </div>

            <br>

            <div class="flex-justify-center">
                <button class="button-default" type="submit">
                    @loc["Create"]
                </button>
            </div>

        </div>
    </form>
</div>


