@page

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Errors.NotFoundModel

@{
    ViewData["Title"] = "Not Found";
}

<div class="header">
    <h1>Not found</h1>
</div>

<br />

<div style="display:flex; justify-content:center;">
    <h1>
        <b>
            The requested resource was not found.
        </b>
    </h1>
</div>