@page "/Users/Create"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.CreateUserModel

@using SimpleDataManagementSystem.Frontend.Web.Razor.ViewModels.Read
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    ViewData["Title"] = "Create User";
}

<h1>Create User</h1>

<br />


@await Component.InvokeAsync("InvalidModelState", ModelState)


<div id="createNewUserForm" class="" style="border:1px solid black; margin:auto;width:70%; text-align:center;padding:20px;">
    <form method="post">
        <label asp-for="NewUser.Username"></label>
        <br />
        <input asp-for="NewUser.Username" id="username" name="username" type="text" />
        @* <span asp-validation-for="Username" class="text-danger"></span> *@

        <br />

        <label asp-for="NewUser.Username">Password:</label>
        <br />
        <input asp-for="NewUser.Password" id="password" name="password" type="text" />
        
        <br />

        <label asp-for="NewUser.RoleId">Role:</label>
        <br />
        <select name="roleId">
            @foreach (var r in Model.AvailableRoles)
            {
                <option name="roleId" value="@r.Id">@r.Name</option>
            }
        </select>

        <br />
        <br />

        <button type="submit">Create</button>
    </form>
</div>

@section scripts {

    <partial name="_ValidationScriptsPartial" />
}