@page "/Account/AccessDenied"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Account.AccessDeniedModel

@{
    ViewData["Title"] = "Access Denied";
}


<h1>You are not allowed to view this resource.</h1>

<br />