@page "/Account/{UserId}/ChangePassword"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Account.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<br />


@await Component.InvokeAsync("InvalidModelState", ModelState)


<div style="text-align:center; border:1px solid black; padding:20px;">
    <form method="post">
        @Html.AntiForgeryToken()
        <input name="userId" value="@Model.UserId" hidden />

        <label for="oldPassword">Old password:</label>
        <br />
        <input name="oldPassword" />

        <br />

        <label for="newPassword">New password:</label>
        <br />
        <input name="newPassword" />

        <br />
        <br />

        <button type="submit">Change</button>
    </form>
</div>