@page "/Account/Details"

@model SimpleDataManagementSystem.Frontend.Web.Razor.Pages.Account.DetailsModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DetailsModel> loc

@{
    ViewData["Title"] = loc["Account details"];
}

<div class="header">
    <h1>@loc["Account details"] - <b>'@Model?.Model?.Username'</b></h1>
</div>


<br>


<div class="content-container">

    <div class="readonly-form-controls-container">
        <div class="readonly-form-controls">

            <div class="readonly-control single-per-line">
                <div>
                    <label>@loc["Change password"]:</label>
                </div>
            </div>

            <div class="readonly-control single-per-line">
                <div>
                    <a href="/account/password-change">
                        <button class="button-default">
                            @loc["Change"]
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>


</div>
