@using Microsoft.AspNetCore.Mvc.ModelBinding

@using Microsoft.Extensions.Localization
@using SimpleDataManagementSystem.Frontend.Web.Razor.Pages.ViewComponents
@using SimpleDataManagementSystem.Frontend.Web.Razor.SharedResources
@inject IStringLocalizer<SharedResource> loc

@model ModelStateDictionary

@{
    var errors = Model?.Values
        .SelectMany(v => v.Errors)
        .Select(e => e.ErrorMessage)
        .ToList();
}

@if (errors != null && errors.Count > 0)
{
    <div style="display:flex; flex-flow: wrap; text-align:center; justify-content:center;">
        <div>
            <i>
                @loc["Please review and update the following form errors"]:
            </i>
        </div>

        <div style="flex-basis: 100%; color:red;">
            @foreach (var e in errors)
            {
                <div>
                    <span>&#8226;</span>
                    <label>@loc[e]</label>
                </div>
            }
        </div>
    </div>
}